
div#sources {
    display: none;
}
div.chinese {
    display: none;
    border: double red;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

h1.chinese::before {
    content: "Chinese Zodiac: "
}

h1.chinese {
    display: inline;
}

.chinese {
    color: red;
    background-color: yellow;
}

div.star {
    display: none;
    border: double darkblue;
    padding: 20px;
    margin: 0 20px 20px 20px;
}


h1.star {
    display: inline;
}

h1.star::before {
    content: "Star Sign: "
}

.star {
    color: darkblue;
    background-color: azure;
}


h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    margin: 40px;
}
button {
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    background-color: floralwhite;
    color: saddlebrown;
    padding: 20px;
    border-radius: 50%;
    margin: 20px;
    border: double saddlebrown 2px;

}

button:hover {
    background-color: saddlebrown;
    color: floralwhite;

}

button:focus {
    outline: 0;
    border: solid burlywood 6px;
    padding: 16px;
}
a {
    color: saddlebrown;
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
}
label {

    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;

}

input {

}

body {

    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    background-color: beige;
    color: saddlebrown;
}

img {
    width: 100px;
    display: inline;
}

dt {
    float: left;
    clear: left;
    text-align: right;
    margin-right: 30px;
    font-family: 'Berkshire Swash', cursive;
}


dd {
   margin: 0 0 10px 30px
}

